
    
<div id="about-content">
    <div class="wrapper">

    <h1><strong>
        CREATING NEW GENERATION TALENT POOL
        <strong>
    </h1>
    <p>
            ICT Academy is an initiative of the Government of India in collaboration with the state Governments and Industries. ICT Academy is a not-for-profit society, the first of its kind pioneer venture under the Public-Private-Partnership (PPP) model that endeavours to train the higher education teachers and students thereby exercises on developing the next generation teachers and industry ready students.


    </p>
    <br/>
    <p>
            ICT Academy was started to meet the skill requirements of the industry and generate more employment especially in tier 2 and 3 towns, the rural parts of the country. The organization was formed with representations from the State Government of Tamil Nadu, leading companies in the ICT industry and National Association of Software Services Companies (NASSCOM) in India.
    </p>
    <br/>
    <p>
            With training of teachers and students as the primary objective, ICT Academy has been working through a seven pillar program in the areas of Faculty Development, Student Skill Development, Entrepreneurship Development, Youth Empowerment, Industry-Institute Interaction, Digital Empowerment and Research & Publications.
    </p>  
    <br/>
    <p>
            In the last 7 years, ICT Academy has strived on every aspect to provide a holistic service to every stakeholder of the education ecosystem in developing the next generation of talent pool in India to make them industry ready employees, innovators, entrepreneurs and leaders
    </p> 
    <br/>
    <p>
            ICT Academy is recently endorsed and recommended by NITI Aayog (National Institution for Transforming India Aayog), the National Planning body of Government of India as one of the unique organization for dissemination and replication, which is aligned to the Skill India Vision of the Government of India.
    </p>  
    <br/>
    <p>
            Through its various initiatives, ICT Academy has been part of strengthening the India’s four important visions on Skill India, Digital India, Startup India and Make in India.
    </p>   
    </div>
</div>
<footer>
    <div class="wrapper">
        <div id="footer-info">
            <p>Copyright 2019 ICT Academy. All rights reserved.</p>
            <p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
        </div>
    </div>
