<form action="">
    <table>
        <tr>
            <td>
                Name:
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>
                Address:
            </td>
            <td>
                <input type="text">
            </td>

        </tr>
        <tr>
            <td>
                Place:
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>
                Mobile:
            </td>
            <td>
                <input type="number">
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <button>SUBMIT</button>
            </td>
        </tr>
    </table>
</form>